/* Styles.css */

body {
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}

img {
 display: block;
 width: 100%;
 max-width: 300px;
 height: auto;
 margin: auto;   
}

a {
    border: 5px solid royalblue; 
    text-align: center;
}

a img {
    display: inline; 
    max-width: 50%;
    max-height: 50%;
}

h1 {
    text-align: center;
    margin: 5% auto;
    color: firebrick;
}

h3 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-style: italic;
}

p {
    font-size: 22px;
}

ul,
ol {
    background-color: floralwhite;
    margin: 50px;
}

li {
    padding: 5px;
}

li ol {
    margin: 0px;
}

#index-ul {
    text-align: center;
    list-style: none; 
    
}

#index-ul li {
    padding: 20px;
}

.recipecontainer {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    border: 5px solid floralwhite;
}

